<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tecnologias_moviles_practico_integrador">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_iua_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tecnologias_moviles_practico_integrador">
        <activity
            android:name=".pruebas.PruebaViewPagerActivity"
            android:exported="true" />
        <activity
            android:name=".configuraciones.ConfiguracionesActivity"
            android:exported="true" />
        <activity
            android:name=".login.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".inicio.TemasFavoritosActivity"
            android:exported="true" />
        <activity
            android:name=".qr.visor.VisorQrActivity"
            android:exported="true" />
        <activity
            android:name=".qr.LectorQrActivity"
            android:exported="true"
            android:noHistory="true" /> <!-- noHistory hace que no se agregue al stack -->
        <activity
            android:name=".pruebas.PruebaNavigationMenuActivity"
            android:exported="true" />
        <activity
            android:name=".editar_informacion.EditarInformacionActivity"
            android:exported="true" />
        <activity
            android:name=".inicio.TemasActivity"
            android:exported="true" />

        <activity
            android:name=".login.LoginActivity"
            android:exported="true" />
    </application>

</manifest>